*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background-color: rgba(74, 74, 230,0.7);
}
.content{
    padding: 15px;
}
.data{
    margin: 20px;
    color: white;
}
.data:hover{
    
    color: brown;
}