body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 40px;
}
.paragraph{
    width: 1220px;
    font-size: 20px;
    line-height: 1.3;
}
.image{
    width: 80%;
    height: 490px;
}
